* {
  padding: 0px;
  margin: 0px;
}

button {
  width: 60px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: white;
  font-weight: bold;
}

h1 {
  font-size: 25px;
}

.navbar {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.2);
}

.nav-menu,
.nav-title,
.nav-join,
.nav-menu i,
.nav-title i {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-title {
  flex-grow: 1;
}

.nav-menu {
  margin-left: 20px;
}

.nav-join {
  margin-right: 20px;
}

.nav-menu i {
  height: 30px;
  width: 30px;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 50%;
  margin-left: 5px;
}

.nav-title i {
  height: 30px;
  width: 30px;
  font-size: 20px;
  background-color: rgb(249, 97, 9);
  border-radius: 50%;
  margin-right: 5px;
}

#btn-login {
  background-color: rgb(249, 97, 9);
  color: white;
  font-weight: bold;
  border: none;
  margin-left: 5px;
}

/* hero section start */
#hero-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero-section h1 {
  display: flex;
  background-color: red;
  font-size: 60px;
}
/* hero section end */

/* image stack start */
/* image stack end */

